<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Гостиницы</ion-title>

    <ion-buttons end>
      <button ion-button (click)="showFilter = !showFilter">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content-block">

  <ion-item-group *ngIf="showFilter">
    <ion-item>
      <ion-label
        stacked>Мин. цена от: </ion-label>
      <ion-input type="number"
                 (input)="onChangeMinCost($event)"
                 placeholder="{{inputMin}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label
        stacked>Макс. цена до: </ion-label>
      <ion-input type="number"
                 (input)="onChangeMaxCost($event)"
                 placeholder="{{inputMax}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Готели с парковкой</ion-label>
      <ion-checkbox color="dark" [checked]="isParkingZone" (ionChange)="changeParkingZone($event)"></ion-checkbox>
    </ion-item>
  </ion-item-group>

  <ion-list>
    <button ion-item *ngFor="let hotel of getHotelsSort(hotelService.getHotels())"
            (click)="goToDetail(hotel, $event)">
      <div>
        <h2>{{hotel.title}}</h2>
        <p>{{hotel.address}}</p>
      </div>
      <ion-avatar item-start>
        <img src="{{hotel.image}}">
      </ion-avatar>
    </button>
  </ion-list>
</ion-content>
