<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Гостиницы</ion-title>

    <ion-buttons end>
      <button ion-button (click)="showFilter = !showFilter">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item-group *ngIf="showFilter">
    <ion-item>
      <ion-label stacked>Минимальная цена от: </ion-label>
      <ion-input type="number" placeholder="{{minDefaultPrice}}" (input)="changeMinValue($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Максимальная цена до: </ion-label>
      <ion-input type="number" placeholder="{{maxDefaultPrice}}" (input)="changeMaxValue($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Готели с парковкой</ion-label>
      <ion-checkbox color="dark" [checked]="isParkingZone" (ionChange)="changeParkingZone($event)"></ion-checkbox>
    </ion-item>
  </ion-item-group>

  <ion-list>
    <button ion-item *ngFor="let hotel of filterHotels(hotelService.getHotels())" (click)="openHotelDetails($event, hotel)">
      <ion-avatar item-start>
        <img src="{{hotel.image}}">
      </ion-avatar>
      <h2>{{hotel.title}}</h2>
      <p>{{hotel.address}}</p>
    </button>
  </ion-list>
</ion-content>
