<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{hotel.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <table>
    <tr>
      <td>
        <ion-img [src]="hotel.image" class="hotelPicture"></ion-img>
      </td>
      <td>
        <h3>{{hotel.description}}</h3>
        <h4>Информация о гостинице:</h4>
        <p *ngIf="hotel.hasParking">
          Есть парковочная зона
        </p>
        <p *ngIf="!hotel.hasParking">Нет парковочной зоны</p>

        <p>Стоимость за сутки: {{hotel.cost}}</p>
        <p>Местонахождение: {{hotel.address}}</p>
        <p>Телефон: {{hotel.phone}}</p>
      </td>
    </tr>
  </table>
</ion-content>
