page-detail {
  .image-item {
    float: left;
    max-width: 500px;;
    contain: content;
  }

  ion-img{
    border-radius: 50px;
  }

  .title{
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .content-block-item{
    max-width: 500px;
  }

  .options{
    padding-left: 50px;
    li{
      padding-bottom: 25px;
    }
  }
}
